* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1597571063304-81f081944ee8?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YyVDMyVBOXUlMjBhenVsJTIwY29tJTIwbnV2ZW5zfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}

h1 {
    font-size: 3em;
    text-align: center;
    color: hsl(0, 0%, 97%);
    text-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

p {
    font-size: 1.6em;
    text-align: center;
    color: hsl(0, 0%, 97%);
    text-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

.container {
    /* background-color: #8be8ff80; */
    background-color: hsla(0, 0%, 85%, 0.5);
    /* max-width: 240px; */
    /* min-height: 50px; */
    padding: 1rem;
    box-shadow: 0px 10px 16px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    /* margin-bottom: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btn-azul {
    /* display: block; */
    /* margin-right: auto;
    margin-left: auto; */
    /* width: 150px;
    height: 40px; */
    padding: 0.375rem 1.75rem;
    border: none;
    border-radius: 0.375rem;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: #0d6efd;
    color: white;
    font-size: 1.35em;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

@media (orientation: landscape) {
    .logo {
        display: none;
    }
    body {
        justify-content: center;
    }
}
